/* 清除原生浏览器带来的样式 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td ,textarea,input {
	margin:0;
	padding:0;
}
address,cite,dfn,em,var, i {
	font-style:normal;
}
body {
	font-size: 16px;
	line-height: 1.5;
	font-family:Microsoft YaHei;
	color: #333;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
h1, h2, h3, h4, h5, h6, th {
	font-size: 100%;
	font-weight: normal;
}
button,input,select,textarea{
	font-size:100%;
}
fieldset,img{
	border:0;
}
a,img {
    -webkit-touch-callout: none
}
a,a:active,a:focus,a:hover,a:visited {
	text-decoration: none
}
input[type=password],input[type=text],textarea {
    resize: none;
    outline: 0;
    -webkit-appearance: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #fff
}
ul, ol {
	list-style: none;
}
:focus {
	outline:none;
}


/* 字体大小 */
.f14 {
  font-size: 14px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f32 {
  font-size: 32px;
}
.f36 {
  font-size: 36px;
}


/* 自定义样式 */
.clearfix {
	clear: both;
	content: "";
	display: block;
	overflow: hidden
}
.clear {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
input {
	width: auto;
}
.banner img {
  width: 100%;
  display: block;
}
.alignCenter {
  text-align: center;
}


/* 底部分页 */
.pagination {
  position: relative;
  text-align: right;
}
.pagination li{
  display: inline-block;
  margin:0 5px;
}
.pagination li span{
  font-size: 14px;
  padding: 7px 12px;
  display: inline-block;
  border: 1px solid #ddd;
  background: #E5E5E5;
  color: #333;
  font-family: Microsoft YaHei;
  cursor: pointer;
}
.pagination li span:hover{
  background:#eee;
}
.pagination li.active span{
  background:#0069B7;
  color:#fff;
}

/* 新增上一页下一页 */
.details-btn {
  margin-bottom: 40px;
  overflow: hidden;
}
.details-btn div {
  color: #999;
  float: left;
  width: 50%;
  height: 24px;
}
.details-btn div:last-child {
  text-align: right;
}
.details-btn div span {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.details-btn div:last-child span {
  justify-content: flex-end;
}
.details-btn div span:hover {
  color: blue;
}
.details-btn div img {
  width: 20px;
  margin: 0 5px;
  display: inline-block;
}
